
.card-project {
    border: 0.5px solid #272727; 
    border-radius: 20px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1em;
}

.img-project {
    
    width: 100%;
    height: 17em;
    max-height: 17em;
}

.img-project:hover {
    border: 2px solid rgb(49, 186, 81);
    border-radius: 15px;
}

.github-text {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    span {
        color: rgb(27, 244, 222);
        font-weight: 500;
    }
    
}